<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configuration</comment>
<entry key="keyText">DNJ28Jt519WC2YKfIv0waA==:t+y/GuXsaVq0bJ75gQ+ZKw==</entry>
<entry key="prefixText">2vVFTMr7jhFA0dQAimhRhg==:Cg0doAO8H0cPCOj45iRIaQ==</entry>
</properties>
