<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configuration</comment>
<entry key="Key">w8Gzz+hyjMcNe0r+16GNXg==:+72sXLvmISDVONjfZnhY+w==</entry>
<entry key="Prefix">SJXBK1uvmGwN3O4ol+pbiQ==:EpPKlpssAY1JJgVEsCFQBg==</entry>
</properties>
